{% extends 'base.html' %}

{% block title %}{{ title }} - Palmarena{% endblock %}

{% block content %}
<!-- Chapter Title Section -->
<div class="pt-32 pb-20 artistic-bg relative">
    <video autoplay muted loop class="video-background">
        <source src="{{ url_for('static', filename=video_filename) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="max-w-5xl mx-auto px-6 relative z-10">
        <div class="text-center space-y-8">
            <h1 class="text-5xl font-normal tracking-wider text-navy-blue">{{ title }}</h1>
        </div>
    </div>
</div>

<!-- Chapter Content Section -->
<div class="py-24 bg-white">
    <div class="max-w-3xl mx-auto px-6">
        <section class="chapter-content">
            {{ content.replace('\n', '<br>') | safe }}
        </section>
    </div>
</div>
{% endblock %}